<h1>@Model.GetCity()<h1>
<h2>Picture</h2>
<img src="@Model.GetPicture()" alt="A picture of @Model.GetCity()">
<h2>Stay Length: @Model.GetStayLength()</h2>
<h2>Favorite Restaurant: @Model.GetRestaurant()</h2>
<h3><a href="/places">Click here to view all of your places</a></h3>
<h3><a href="/places/new">Click here to add a new place</a></h3>
